.App {
  font-family: sans-serif;
  text-align: center;
  margin: 22vh auto;
  max-width: 470px;
  padding: 50px 0;
  border-radius: 10px;
  background-color: #4da64d;
  color: #fff;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 230px;
}

.btn-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-con button {
  border: none;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-con input {
  display: inline-block;
  font-size: 15px;
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: none;
  padding: 8px;
}

.btn-con input:focus {
  outline: none;
}

.range {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 10px;
}

.reset {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
